html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="google-site-verification" content="PvBhJD8elBCuBjT802n4Wh9MpMfp7biEyCK0NUjB9JE")
    title #{htmlWebpackPlugin.options.title}
  body
    #container
