@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@400;700&display=swap')

*
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

html, body
  font-family: "Open Sans", sans-serif
  min-height: 100%
  margin: 0

body
  background-color: $bgColor
  color: $txtColor
  padding: 0 15px

a
  color: $linkColor
  text-decoration: none
  
  &:hover
    text-decoration: underline

.theme-container
  max-width: 800px
  position: relative
  display: flex
  flex-flow: column
  width: 100%
  margin: 0 auto
  min-height: 100vh
  padding: 0 0 50px

  & > .header
    flex: 0 0 auto
  
  & > .content
    flex: 1 1 auto
    display: flex
    flex-flow: column
    justify-content: center

.page-title
  font-size: 45px
  font-family: "Roboto", sans-serif
  font-weight: 600
  margin: 0
  
  .sub-title
    color: #7d7d7d

.social-links
  a + a
    margin-left: 10px
    
  .social-icon
    height: 24px
    fill: $txtColor
    vertical-align: middle
    
    &:hover
      fill: gray

.darkModeBtn
  -webkit-appearance: none
  background: transparent
  border: 0
  cursor: pointer
  display: inline-block
  vertical-align: middle
  
  svg
    width: 28px
    fill: $txtColor
    
/**
 * Dark Mode Styles
 */
body.dark-mode
  background-color: $darkBgColor
  color: $darkTxtColor
  
  a
    color: $darkLinkColor
  
  .social-icon
    fill: $darkTxtColor
    
  .darkModeBtn
    svg
      fill: $darkTxtColor
      
  .page-title .sub-title
    color: #a5a5a5