$primary-color: #0094FF; //Main background color
$accent-color: #333333;  //Color for accenting panels.
$panel-color: #FFFFFF;   //Color of content panels
$shadow-color: #888888;  //Shadow of content panels
$header-color: #E5E5E5;  //Header font color
$gray: #6b6b6b;
