//Import Google Font
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,700,500);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

//Import Glyphicons
@import 'glyphicons-social';

$primary-color: #0094FF; //Main background color
$accent-color: #333333;  //Color for accenting panels.
$panel-color: #FFFFFF;   //Color of content panels
$shadow-color: #888888;  //Shadow of content panels
$header-color: #E5E5E5;  //Header font color
$gray: #6b6b6b;


body, html {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background-color: $primary-color;

  font-family: 'Roboto', sans-serif;
}

//Container
#container {
  display: table;
  height: 100%;

  width: 90%;
  max-width: 600px !important;

  margin-left: auto;
  margin-right: auto;
}

.portfolio {
  display: table-cell;
  vertical-align: middle;
}
//Portfolio logo
.logo {
  margin: 10px auto 5px auto;
  background-image: url('../img/logo.png');
  max-width: 450px;
  height: 50px;
  width: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

//Project Panels
.project {
  //Project Header
  background-color: $panel-color;
  padding: 10px;
  margin: 10px 0px;
  box-shadow: 1px 1px 2px $shadow-color;
  font-size: 15px;

  h1 {
    font-family: 'Maven Pro', sans-serif;
    width: 100%;
    color: $header-color;
    background-color: $accent-color;
    margin: -10px -10px 10px -10px;
    padding: 5px 10px;
    font-size: 1.25em;
  }
}

.project:first-of-type {
  margin-top: -40px;
}

//Links on project panels
.project-links {
  margin: 5px 0 0;
  padding: 5px 0 0;

  width: 100%;

  border-top: 1px $shadow-color solid;

  //Remove Bullets
  list-style-type: none;

  //Font Style
  font-family: 'Maven Pro', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: $primary-color;

  a {
    color: $primary-color;
    text-decoration: none;
  }
  a:hover {
    color: $accent-color;
  }

  //Dispaly horizontal list
  li {
    display: inline;
  }

  //Separate navigation items with pipes
  li:after {
    content: " | ";
  }

  li:last-of-type::after {
    content: "";
  }

}

.navigation {
  //No margins/padding
  margin: 0;
  padding: 0;

  height: 80px;

  //Remove bullets
  list-style-type: none;

  //Center
  text-align: center;

  //Font Style
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $header-color;

  //Display Navigation Horizontally
  li {
    display: inline;
  }

  //Separate navigation items with pipes
  li:after {
    content: " | ";
  }

  li:last-of-type::after {
    content: "";
  }

  //Navigation hover over
  .nav-link:hover {
    cursor: pointer;
    color: $accent-color;
  }
}

//Content Transition
.slide-enter {
  transform-origin: top;
  transform: scaleY(0);
}

.slide-enter.slide-enter-active {
  transform-origin: top;
  transform: scaleY(1);
  transition: all .5s ease;
}

.slide-leave {
  transform-origin: top;
  transform: scaleY(1);
}

.slide-leave.slide-leave-active {
  transform-origin: top;
  transform: scaleY(0);
  transition: all .5s ease;
}

.social-media {
  font-size: 32px;
  letter-spacing: 32px;
  text-align: center;

  a {
    color: $accent-color;
    text-decoration: none;
  }

  a:hover {
    color: $primary-color;
  }
}

.skill {
  display: inline-block;
  margin: 5px 5px;
  padding: 4px;
  background-color: $primary-color;

  border-radius: 3px;

  font-size: 14px;
  font-weight: 700;
  color: $accent-color;
}

.employment {
  width: 100%;
  color: $accent-color;

  padding-bottom: 10px;

  border-bottom: 1px solid $accent-color;

  h2 {
    font-size: 16px;
    width: 100%;

    small {
      color: $primary-color;
    }

    .employment-date {
      float: right;
      font-size: 14px;
      color: $gray;
    }
  }
}

.employment:last-of-type {
  border: 0 !important;
  padding-bottom: 0 !important;
}
